.remove-line{
    text-decoration: none;
}
.space{
    margin-left:2.5em;
}
.margin{
    margin:auto;
    height:100%;
    width: 80%;
    
}
.full-width{
    width:100%;
    color:green;
}
.additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
.margin-field{
    margin-left:0px;
}
.example-form-field {
    margin-right: 20px;
}
.small-card{
    margin:auto;
    height:10%;
    width:50%;
    
}
table{
    width: 100%;
}
